/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;padding:0;
}
table{
	border-collapse:collapse;border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,dfn,th,var{
	font-style:normal;font-weight:normal;
}
li
{
	list-style:none;
}
caption,th
{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;font-weight:normal;
}

body{
margin:0;
padding:0;
font-family: Helvetica Neue, Helvetica, Arial;
}

.jumbotron{
width: 100%;
float: left;
/*padding-bottom: 30px;*/
background-color: #23a889;
}

.header{
	padding: 30px 20px 0;
}

.iphone{
width: 258px;
margin-left: -124px;
margin-bottom:-100px;
height: 388px;
float: left;
padding-left:200px;
position: relative;
}

#iphoneframe{
	position: relative; 
	width: 500px;
}
#iphoneimg{
	width:190px; 
	position: absolute;
	top: 81px; 
	left: 355px;
}
.logo_content{
width: 550px;
/*float: right;*/
margin-top: 120px;
}

h1{
font-size: 81px;
margin-bottom: 20px;
}

h3{
font-size: 20px;
margin-bottom: 20px;
}

p{
font-size: 14px;
line-height: 22px;
}

.get_notified{
width: 440px;
height: 57px;
margin: auto;
margin-top: 40px;
/*float: left;*/
background: url(../button.png) left top no-repeat;
font-size: 26px;
color: #23a889;
text-decoration: none;
font-weight: 200;
text-align: center;
line-height: 54px;
}

.get_notified strong{
font-weight: 500;
}

/*.fadeeffect{
	background-color: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .0001) 100%);
	background-color:      -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .0001) 100%);
	background-color: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
	background-color:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.iphone{margin-left:-124px;}
	#iphoneimg{left:355;}
	.logo_content{float:right;}
	.get_notified{float:left;}

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.iphone{margin-left:-224px;}
	#iphoneimg{left:255;}
	.logo_content{float: right}
	.get_notified{float:left;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.iphone{display:none;}
	.logo_content{text-align:center; margin: auto;margin-top: 120px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.iphone{display:none;}
	.logo_content{text-align:center;margin: auto;margin-top: 120px;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.iphone{display:none;}
	.logo_content{text-align:center;margin: auto;margin-top: 120px;}
	/*.get_notified{float:none;}*/
}
